.sidebar-cta-box {
    background-color: #FFF;
    width: 100%;
    padding: 16px;
}

.sidebar-cta-btn {
    background-color: blue;
    text-decoration: none;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.cta-label {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
