.sidebar-btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    text-decoration: none;
    padding: 12px;
    width: 100%;
}

.sidebar-btn:hover {
    background-color: #cccccc;
}

.btn-icon {
}

.btn-label {
    font-size: 18px;
    font-weight: 500;
}
